*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',Arial;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

body{
  background: rgb(96, 96, 96);
}